# Define each variable appropriately and rename this file to .env, it will be used by compose.yaml

GITEA_HOSTNAME=<git.yourdomain.com>
GITEA_ORG=<your_gitea_org_name>
GITEA_PAT=<your_personal_access_token>