# Define each variable appropriately and rename this file to .env, it will be used by compose.yaml

# The user ID the container(s) will run as
UID=1000
# The group ID the container(s) will run as
GID=1000

GIT_SERVER_HOSTNAME=<git.yourdomain.com>
GIT_SERVER_ORG=<your_gitea_org_name>
GIT_SERVER_TOKEN=<your_gitea_access_token>
# https://docs.renovatebot.com/getting-started/running/#githubcom-token-for-changelogs-and-tools
GITHUB_TOKEN=<your_github_access_token>